# Папки Visual Studio та файли збірки
.vs/
obj/
bin/

# Файли користувача
*.user
*.suo

# Приватні ключі та сертифікати
*.key
*.pfx
*.pem

# Локальна база даних та конфігурація
*.db
*.db-journal
config.dat

# Папки пакетів
packages/